@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --dark: #1E1E1E;
}

@layer base {
    h1 {
       @apply font-['Helvetica']
    }

    button {
      @apply bg-transparent border-2 border-white text-white py-4 px-12
    }
  }

html {
  overflow-y: hidden;
}
.app {
  background-image: url('/src/img/city_scape.png');
  background-attachment: fixed;

}

body {
    background: #1E1E1E;
}

h1 {
    font-family: 'Helvetica'
  }

h2 {
    font-family: 'Bebas Neue', cursive;
}